<h2>Showing {{pluralize flags.length "flag" true}}</h2>
{{#if flags}}
<div id="flags" class="listing">
	{{#each flags}}
	<a href="/flag/{{story}}">
		<div class="light {{status}}"></div>
		{{status}}, {{{timestamp processedat}}},
		reported {{pluralize flaggings.length "time" true}}
	</a>
	{{/each}}
</div>
{{else}}
<div id="flags" class="empty listing">
	No flags!
</div>
{{/if}}
