{{#each flags}}
<a href="/flag/{{story}}">
	{{story}}, {{status}}, {{{timestamp processedat}}}, reported {{pluralize flaggings.length "time" true}}
	<ul>
		{{#each flaggings}}<li>{{flagger}} {{{timestamp createdat}}}: {{reason}}</li>{{/each}}
	</ul>
</a>
{{/each}}
