{{#if notfound}}
<div class="alert error">
	{{currentID}} does not exist!
	<a href="/">Go home</a>
</div>
{{else}}
<div id="story">
	<div class="master piece">
		<div class="options">
			<a href="#" class="author">
				<i>😀</i>
				<span></span>
			</a>
		</div>
		<div class="content"></div>
		<div class="more">
			<div>
				created {{{timestamp null}}}
			</div>
			<button type="button" class="rewind" title="Rewind"><i class="icon-rewind"></i></button>
			<button type="button" class="star" title="Star"><i class="icon-star"></i> <span>0</span></button>
			<button type="button" class="edit" title="Edit"><i class="icon-edit"></i></button>
			<button type="button" class="delete" title="Delete"><i class="icon-delete"></i></button>
			<button type="button" class="flag" title="Report"><i class="icon-flag"></i></button>
		</div>
	</div>
	{{#each stories}}
	<div class="piece{{#if starred}} starred{{/if}}" id="piece{{shortID}}">
		<div class="options">
			<a href="/user/{{author.id}}" class="author">
				<i>{{author.emoji}}</i>
				<span>by {{author.display}}</span>
			</a>
		</div>
		<div class="content">{{content}}</div>
		<div class="more">
			<div>
				created {{{timestamp createdat}}}
			</div>
			<button type="button" class="rewind" title="Rewind"><i class="icon-rewind"></i></button>
			{{#if starred}}
			<button type="button" class="star" title="Unstar"><i class="icon-star_border"></i> <span>{{starcount}}</span></button>
			{{else}}
			<button type="button" class="star" title="Star"><i class="icon-star"></i> <span>{{starcount}}</span></button>
			{{/if}}
			<button type="button" class="edit" title="Edit"><i class="icon-edit"></i></button>
			<button type="button" class="delete" title="Delete"><i class="icon-delete"></i></button>
			<button type="button" class="flag" title="Report"><i class="icon-flag"></i></button>
		</div>
	</div>
	{{/each}}
</div>
<form action="/continue" id="next">
	<input type="hidden" name="parent" value="{{currentID}}" />
	<div class="inputlike">
		<textarea name="content" cols="30" rows="5" placeholder="Write your own continuation">{{storyfragment}}</textarea>
		<div class="info">
			<div class="status"></div>
			<a href="/help#formatting">formatting</a>
		</div>
	</div>
	<button type="submit" class="primary">
		<span class="continue">or read someone else's continuation</span>
		<span class="write">submit your continuation</span>
	</button>
</form>
{{/if}}
