{{#if notfound}}
<div class="alert error">
	Story {{currentID}} does not exist!
	<a href="/">Go home</a>
</div>
{{else}}
<div id="story">
	<div class="master piece">
		<div class="author">
			<span>😀</span> by
			<a href="#"></a>
		</div>
		<div class="content"></div>
		<div class="more controls">
			<div>
				created {{{timestamp null}}}
			</div>
			<button type="button" class="rewind" title="Rewind"><i class="icon-rewind"></i></button>
			<button type="button" class="star" title="Star"><i class="icon-star"></i> <span>0</span></button>
			<button type="button" class="edit" title="Edit"><i class="icon-edit"></i></button>
			<button type="button" class="delete" title="Delete"><i class="icon-delete"></i></button>
			<button type="button" class="flag" title="Report"><i class="icon-flag"></i></button>
		</div>
	</div>
	{{#each stories}}
	<div class="piece{{#if starred}} starred{{/if}}{{#if removed}} removed{{/if}}{{#if hidden}} sensitive{{/if}}" id="piece{{shortID}}">
		{{#if removed}}
		<div class="banner">
			This has been removed.
		</div>
		{{else}}
		<div class="author">
			<span>{{author.emoji}}</span> by
			<a href="/user/{{author.id}}">{{author.display}}</a>
		</div>
		<div class="content">{{{format content}}}</div>
		<div class="more controls">
			<div>
				created {{{timestamp createdat}}}
			</div>
			<button type="button" class="rewind" title="Rewind"><i class="icon-rewind"></i></button>
			{{#if starred}}
			<button type="button" class="star" title="Unstar"><i class="icon-star_border"></i> <span>{{starcount}}</span></button>
			{{else}}
			<button type="button" class="star" title="Star"><i class="icon-star"></i> <span>{{starcount}}</span></button>
			{{/if}}
			{{#if mine}}<button type="button" class="edit" title="Edit"><i class="icon-edit"></i></button>
			<button type="button" class="delete" title="Delete"><i class="icon-delete"></i></button>{{/if}}
			<button type="button" class="flag" title="Report"><i class="icon-flag"></i></button>
		</div>
		{{#if hidden}}<div class="banner">
			This contains sensitive content.
			<a href="#">Show anyways</a>
		</div>{{/if}}
		{{/if}}
	</div>
	{{/each}}
</div>
<form action="/continue" id="next" method="post">
	<input type="hidden" name="parent" value="{{currentID}}" />
	<div class="inputlike">
		<textarea name="content" cols="30" rows="5" placeholder="Write your own continuation">{{storyfragment}}</textarea>
		<div class="info">
			<div class="status"></div>
			<a href="/more#formatting">formatting</a>
		</div>
	</div>
	<div class="inputlike select">
		<select name="contentwarning">
			<option value="fine">no violence or nudity</option>
			<option value="violence">graphic depiction of violence</option>
			<option value="nudity">graphic depiction of nudity</option>
		</select>
	</div>
	<button type="submit" class="primary">
		<span class="continue">or read someone else's continuation</span>
		<span class="write">submit your continuation</span>
	</button>
</form>
{{/if}}
