<div class="info">
	<h3>Overview</h3>
	{{status}}{{#if reason}}: {{reason}}{{/if}}
	<div class="light {{status}}"></div><br />
	last reviewed {{{timestamp processedat}}}<br />
	{{#if reviewer}}handled by {{reviewer}}<br />{{/if}}
	reported {{pluralize flaggings.length "time" true}}
</div>

<div class="story">
	<h3>Story</h3>
	<a href="/story/{{story.shortID}}">{{{timestamp story.createdat}}}</a>
	{{user.emoji}} <a href="/user/{{story.author}}">{{user.displayname}}</a> wrote:
	{{{inlinepiece story}}}
</div>

<div class="reports">
	<h3>{{pluralize flaggings.length "report" true}}</h3>
	<ul>
		{{#each flaggings}}<li>{{reason}} ({{{timestamp createdat}}})</li>{{/each}}
	</ul>
</div>

<form id="flagprocess" action="/flag/process" method="post">
	<h3>Further actions</h3>
	<input type="hidden" name="shortID" value="{{story.shortID}}" />
	<div class="inputlike select">
		<select name="status">
			<option value="" selected>what should happen?</option>
			<option value="hide">sensitive or unwanted, hide</option>
			<option value="remove">illegal, purge</option>
			<option value="dismiss">perfectly fine, dismiss</option>
		</select>
	</div>
	<textarea name="reason" class="short" placeholder="Document the issue"></textarea>
	<div class="escalate">
		<div class="alert error">
			You are about to perform an action that cannot be rolled back.
			Are you sure you want to permanently remove this item?
		</div>
		<label for="confirm" class="inputlike checkbox">
			<input type="checkbox" id="confirm" />
			<span>I mean it</span>
		</label>
	</div>
	<button type="submit">Process</button>
</form>
