<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Continuity</title>
	<meta property="og:title" content="Continuity" />
	<meta name="description" content="Write a story, together" />
	<meta property="og:description" content="Write a story, together" />
	<meta property="og:image" content="/logos/logo.small.square.png" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
	<link rel="manifest" href="/manifest.json" />
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#444444" />
	<meta name="theme-color" content="#444444" />
	<link rel="stylesheet" href="/style.css" />
	<script src="/lib/prefixfree-1.0.7.min.js"></script>
</head>
<body>
<div id="wrapper">
	<header>
		<h1><a href="/">
			<div></div>
			<span>Continuity</span>
		</a></h1>
		{{#if user}}
		<div id="user" class="loggedin">
			<a href="/user/{{user.shortID}}">profile</a>
			<a href="/logout">log out</a>
		</div>
		{{else}}
		<div id="user" class="loggedout">
			<a href="/login">log in</a>
			<a href="/signup">sign up</a>
		</div>
		{{/if}}
	</header>
	<main>
		{{#if success}}
			<div class="alert success">
				<ul>
					{{#each success}}<li>{{this}}</li>{{/each}}
				</ul>
			</div>
		{{/if}}
		{{#if error}}
			<div class="alert error">
				<ul>
					{{#each error}}<li>{{this}}</li>{{/each}}
				</ul>
			</div>
		{{/if}}
		<noscript class="alert error">
			<i class="icon-info"></i>
			This website performs poorly without JavaScript.
		</noscript>
		{{{body}}}
	</main>
	<div id="message">
		<div class="cover close"></div>
		<div class="box">
			<h2 class="header">
				<span></span>
				<div class="close">&times;</div>
			</h2>
			<div class="contents"></div>
			<div class="buttons">
				<button type="button" class="close">Okay</button>
			</div>
		</div>
	</div>
	<i class="icon-info" id="forceiconpreload"></i>
	<img src="/logos/logo.small.square.png" id="previewimage" />
	<footer><div>
		&copy; 2016, all continuations belong to their respective authors
		&ndash; <a href="/more">more</a>
	</div></footer>
</div>
<script src="/lib/jquery-3.1.1.min.js"></script>
<script src="/lib/timeago-1.5.3.min.js"></script>
<script src="/front.js"></script>
</body>
</html>
