{{#if notfound}}
<div class="alert error">
	User {{currentID}} does not exist!
	<a href="/">Go home</a>
</div>
{{else}}
<div id="profileheader">
	{{#if seestars}}
	<form id="update" action="/user/update" method="post">
		<label>Edit your profile</label>
		<div id="emojipicker" class="inputlike">
			<input type="text" id="emojisearch" placeholder="Search for an emoji" />
			<div class="preview"></div>
			<div class="loading results">loading...</div>
		</div>
		<input type="text" name="emoji" id="emoji" placeholder="{{emoji}}" value="{{emoji}}" />
		<input type="text" name="displayname" id="displayname" placeholder="{{display}}" value="{{display}}" />
		<button type="submit">Save</button>
	</form>
	{{#if stories.length}}
		You have written {{pluralize stories.length "story" true}} since joining {{{timestamp createdat}}}
	{{else}}
		You created an account {{{timestamp createdat}}}
	{{/if}}
	{{else}}
	<span class="emoji">{{emoji}}</span>
	<h2>{{display}}</h2>
	{{#if stories.length}}
		has written {{pluralize stories.length "story" true}} since creating an account {{{timestamp createdat}}}
	{{else}}
		created an account {{{timestamp createdat}}}
	{{/if}}
	{{/if}}
</div>

{{#if seestars}}
<h3>Starred</h3>
{{#if starred.length}}
<div class="listing">
	{{#each starred}}
	<a class="piece" id="piece{{shortID}}" href="/story/{{shortID}}">
		{{content}}
	</a>
	{{/each}}
</div>
{{else}}
<div class="empty listing">
	Star some stories!
</div>
{{/if}}
{{/if}}

<h3>Stories</h3>
{{#if stories.length}}
<div class="listing">
	{{#each stories}}
	<a class="piece" id="piece{{shortID}}" href="/story/{{shortID}}">
		{{content}}
	</a>
	{{/each}}
</div>
{{else}}
<div class="empty listing">
	Check back later!
</div>
{{/if}}

{{/if}}
