{{#if notfound}}
<div class="alert error">
	User {{currentID}} does not exist!
	<a href="/">Go home</a>
</div>
{{else}}
<div id="profileheader">
	<span class="emoji">{{emoji}}</span>
	<h2>{{display}}</h2>
	{{#if numberofstories}}
		has written {{pluralize numberofstories "story" true}} since creating an account {{{timestamp createdat}}}
	{{else}}
		created an account {{{timestamp createdat}}}
	{{/if}}
</div>

<h3>Starred</h3>
{{#if starred}}
<div class="listing">
	{{#each starred}}
	<a class="piece" id="piece{{shortID}}" href="/story/{{shortID}}">
		{{content}}
	</a>
	{{/each}}
</div>
{{else}}
<div class="empty listing">
	Star some stories!
</div>
{{/if}}

<h3>Stories</h3>
{{#if numberofstories}}
<div class="listing">
	{{#each stories}}
	<a class="piece" id="piece{{shortID}}" href="/story/{{shortID}}">
		{{content}}
	</a>
	{{/each}}
</div>
{{else}}
<div class="empty listing">
	Check back later!
</div>
{{/if}}

{{/if}}
